<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
		<add connectionString="Data Source=.\Data\campabuc.db; version=3;" name="db" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="ZENNE" value="36-40"/>
		<add key="MERDANE" value="39-47"/>
		<add key="ÇOCUK" value="25-40"/>
		<add key="doubelQty" value="37,38,41,42"/>
	</appSettings>
</configuration>